#subjectText {
    height:170px;
}

.contact-area {
    margin-top: 100px;
}

.contact-image {
    display: flex;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}